<div class="form-container">
  <div class="col-md-12">
    <h3 class="form-header">Register as a New User</h3>
    <hr>
    <br>
  </div>

  <div class="form-container">
    
    <form ng-submit="registerSubmit()"  class="form-horizontal">


    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="firstname">First Name</label>  
      <div class="col-md-5">
      <input id="firstname" name="firstname" ng-model="user.local.firstname" type="text" placeholder="Bessie" class="form-control input-md">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="lastname">Last Name</label>  
      <div class="col-md-5">
      <input id="lastname" name="lastname" ng-model="user.local.lastname" type="text" placeholder="Malek" class="form-control input-md">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">Email</label>  
      <div class="col-md-5">
      <input id="email" name="email" ng-model="user.email" type="text" placeholder="amnotafraid@gmail.com" class="form-control input-md">
        
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="password">Password</label>
      <div class="col-md-5">
        <input id="password" name="password" ng-model="user.password" type="password" placeholder="" class="form-control input-md">
        
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="password2">Retype Password</label>
      <div class="col-md-5">
        <input id="password2" name="password2" ng-model="user.password2" type="password" placeholder="" class="form-control input-md">
        
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="register"></label>
      <div class="col-md-5">
        <button id="register" name="register" class="btn btn-success btn-block">Register!</button>
      </div>
    </div>

    </form>
  </div>

</div>
